{% extends "Portal_Za_Volontiranje.html" %}
{% block title %}
Početna stranica
{% endblock %}
{% block body %}
<div class="row">
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">Дискусије
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">Огласи
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">Новости
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="col">

                    <h3>Тренутно има {{ diskusije.count }} дискусија.</h3>
                </div>

                {% if not user.is_authenticated %}
                <div>
                    <center><a class="btn-danger user btn" href="{% url 'login' %}">Пријавите се да бисте учествовали у дискусијама</a>
                    </center>
                </div>
                {% else %}
                <div>
                    <center><a class="btn-success user btn" href="{% url 'forum:kreiranjeDiskusije' %}">Започни нову дискусију</a>
                    </center>
                </div>
                {% endif %}

                <table class="table">
                    <thead>
                    <tr>
                        <th>Назив</th>
                        <th>Датум</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for diskusija in diskusije %}
                    <tr>
                        <td>
                            <a href="{% url 'forum:diskusija' %}?id={{ diskusija.id }}">{{ diskusija.kategorija}} {{ diskusija.naziv }} </a>
                        </td>
                        <td>{{ diskusija.datum }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {% block test %}
                    {% endblock %}
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col">
                    <h3>Тренутно има {{ oglasi.count }} огласа.</h3>
                </div>
                {% if not user.is_authenticated %}
                <div>
                    <center><a class="btn-danger user btn" href="{% url 'login' %}">Само организација има права постављања огласа.</a>
                    </center>
                </div>
                {% elif user.organizacija %}
                <div>
                    <center><a class="btn-success user btn" href="{% url 'oglasi:postavljanjeOglasa' %}">Постави оглас</a>
                    </center>
                </div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Назив</th>
                        <th>Датум и време постављања</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oglas in oglasi %}
                    <tr>
                        <td>
                            <a href="{% url 'oglasi:detaljiOglasa' oglas.id %}">{{ oglas.naslov }}</a>
                        </td>
                        <td>{{ oglas.datum }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}